<html>

<head>
    <title>Video Detail</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <script>
        function loading_st() {
            var ct_left = (parseInt(window.screen.width) - 450) / 2;
            var ct_top = (parseInt(window.screen.height)) / 3;
            layer_str = "<div id='loading_layer' style='position:absolute; background-color:; font-size:15px; left:" + ct_left + "px; top:" + ct_top + "px; width:400px; height:; padding:50px; text-align:center; vertical-align:middle; z-index:1000; font-weight: bold;'>로딩중입니다...</div>"
            document.write(layer_str);
        }
        function loading_ed() {
            var ta = document.getElementById('loading_layer');
            ta.style.display = 'none';
        }
        loading_st();
        window.onload = loading_ed;
    </script>
    <div class="content container">
        <header class="page-header">
            <h1 style="display: inline;">Video Detail</h1>
            {% if video.author == user %}
            <a class="btn btn-danger" href="{% url 'video_delete' pk=video.pk %}" style="float: right;">Delete
                Video</a>
            {% endif %}
        </header>
        <div class="row">
            <div class="col-md-16">
                <div id="player"></div>

                <div>
                    <input type="button" class="btn btn-info btn-sm like" name="{{ video.id }}" value="Like" style="margin-top: 7px">
                    <p id="count-{{ video.id }}" style="font:bold 1em; margin-top: 3px">좋아요&nbsp;{{ video.likes_user.all.count }}개</p>
                </div>

                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script type="text/javascript">
                    $(".like").click(function () {
                        var pk = $(this).attr('name')
                        $.ajax({ // .like 버튼을 클릭하면 <새로고침> 없이 ajax로 서버와 통신하겠다.
                            type: "POST", // 데이터를 전송하는 방법을 지정
                            url: "{% url 'video_like' %}", // 통신할 url을 지정
                            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션
                            dataType: "json",
                            success: function (response) { // 통신 성공시 - 동적으로 좋아요 갯수 변경, 유저 목록 변경
                                alert(response.message);
                                $("#count-" + pk).html("좋아요&nbsp;"+response.likes_count + "개");
                            },
                            error: function (request, status, error) { // 통신 실패시 - 로그인 페이지 리다이렉트
                                alert("로그인이 필요합니다.")
                                window.location.replace("/video/login/")
                            },
                        });
                    })
                </script>

            </div>
        </div>
    </div>
</body>

<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: '{{ video.video_key }}'
        });
    }
</script>

</html>