<html>

<head>
    <title>Video List</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="content container">
        <header class="page-header" sytle="overflow: auto;">
            <h1 style="display: inline;">Video List</h1>
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="/video/new" style="float: right;">New Video</a>
                <p style="float: right;"><span style = " font-size:1.5em; color: green;">Welcome, {{ user.username }}<small>(<a href="{% url 'user_logout' %}">Logout</a>)</small>&nbsp;&nbsp;</span></p>
            {% else %}
                <div style="float: right;">
                    <a class="btn btn-default" href="/video/signup">Sign up</a>
                    <a class="btn btn-default" href="/video/login">Login</a>
                </div>
            {% endif %}
        </header>
        <div class="row">
            <div class="col-md-12">
                {% for video in video_list %}
                <a href="/video/{{ video.id }}">
                    <h4>{{ video.title }}</h4>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>